<div class="header">
  <div class="header-item">
    <a href="" (click)="logoutUser()"><h3>logout</h3></a>
  </div>
</div>

<div class="menu">
  <div class="menu-item">
    <a href=""><h3>profile</h3></a>
  </div>

  <div class="menu-item">
    <a href=""><h3>houses</h3></a>
  </div>

  <div class="menu-item">
    <a href=""><h3>vehicles</h3></a>
  </div>

  <div class="menu-item">
    <a href=""><h3>business</h3></a>
  </div>

  <div class="menu-item">
    <a href=""><h3>statistics</h3></a>
  </div>
</div>

<div class="content">

</div>
